
<div class=" row">
  <div class="col-12">
      <nav class="navbar navbar-expand navbar-dark bg-dark text-white">
          PONESI.COM
          <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                  <a class="nav-link text-white" [routerLink]="['/user/login']">SIGN IN</a>
              </li>
              <li class="nav-item" >
                  <a class="nav-link text-white" [routerLink]="['/user/registration']" >SIGN UP</a>
              </li>



          </ul>


      </nav>
  </div>
</div>


<router-outlet></router-outlet>
